NODE_ENV=development
ENV_KEY=SW

SW_jwt_secret=your-jwt-secret-here
SW_jwt_refresh_secret=your-jwt-refresh-secret-here

SW_postgres_database_host=localhost
SW_postgres_database_port=5432
SW_postgres_database_username=postgres
SW_postgres_database_password=your-password-here
SW_postgres_database_name=spendwise

SW_google_clientId=your-google-client-id-here

SW_sendgrid_api_key=your-sendgrid-api-key-here
SW_sendgrid_from_email=no-reply@spendwise.app
SW_sendgrid_from_name=SpendWise
SW_sendgrid_template_id_password_reset=d-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SW_app_frontend_url=http://localhost:4200
