NODE_ENV=development
ENV_KEY=SW

SW_jwt_secret=your-jwt-secret-here
SW_jwt_refresh_secret=your-jwt-refresh-secret-here

SW_postgres_database_host=localhost
SW_postgres_database_port=5432
SW_postgres_database_username=postgres
SW_postgres_database_password=your-password-here
SW_postgres_database_name=spendwise

SW_google_clientId=your-google-client-id-here
